main {
  color: #3a3e42;
  background-color: #f4cccc;
  height: 100%;
}

footer {
  color: #3a3e42;
}

footer a {
  color: #3a3e42;
  text-decoration: none;
}

.card {
  width: 16.5rem;
  background-color: white !important;
  height: 560px;
  padding-bottom: 10px;
}

a.btn.btn-primary {
  position: absolute;
  background-color: #6c757d!important;
  border-color: #6c757d!important;
  color: #ffffff !important;
  left: 17px;
  bottom: 17px;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.country-image {
    width: 270px;
    height: 270px;
}

.display-3 {
  font-size: 3.6em !important;
}

.display-4 {
  font-size: 2.4em !important;
}

hr {
  border-top: 1px solid white !important;
}